name: DCO Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  dco-check:
    name: Developer Certificate of Origin
    runs-on: ubuntu-latest
    # Only check DCO for external contributors (not organization members)
    if: github.event.pull_request.author_association != 'OWNER' && github.event.pull_request.author_association != 'MEMBER'
    steps:
      - name: Get PR Commits
        id: get-pr-commits
        uses: tim-actions/get-pr-commits@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check DCO
        uses: tim-actions/dco@master
        with:
          commits: ${{ steps.get-pr-commits.outputs.commits }}
